<div class="movie-container card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="movieCard-container row">
    <div class="movie-card col-4">    
      <h1 class="movie-title">{{title}}</h1>
      <h4 class="movie-year">{{year}}</h4>
      <h3 class="movie-director">{{director}}</h3>
      <div class="movieLink-container">
        <a href="/movies/{{_id}}">go to detail page</a> 
        <a href="/movie/delete/{{_id}}">delete movie</a>
      </div> 
    </div>
  </div>
</div>


<div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
