<div class="oneMovie-container"> 
  <div class="oneMovie-text">
    <h1 class="oneMovie-name">{{movieHbs.title}}</h1>
    <h5 class="oneMovie-tagline">{{movieHbs.year}}</h5>
    <div class="oneMovie-description">{{movieHbs.director}}</div>
    <br>
    <div class="oneMovie-subContainer">
      <h3 class="oneMovie-subheading">{{movieHbs.rate}}</h3>
    </div>
    <div class="oneMovie-btn"></div>
    <a href="/movie/update/{{movieHbs._id}}"><button class="oneMovie-edit">Edit movie</button></a>
  </div>
</div>